IMAGE_DOWNLOAD_PATH=F:/JavaBackend/Filemanager/FileProcessingApi/Download
DB_URL=jdbc:postgresql://localhost:5432/FileMerger
DB_USERNAME=postgres
DB_PASSWORD=postgres

MAX_FILE_SIZE_TO_UPLOAD=50MB
MAX_REQUEST_SIZE_TO_UPLOAD=70MB

