<input
    hidden
    #fileInput
    type="file"
    multiple
    (change)="onFilesSelected($event)">

<div
    class="upload-box"
    (click)="fileInput.click()"
    (dragover)="onDragOver($event)"
    (dragleave)="onDragLeave()"
    (drop)="onDrop($event)"
    [class.dragging]="dragging">

    <div class="upload-icon-wrapper">

        <mat-icon class="upload-icon">
            cloud_upload
        </mat-icon>

    </div>

    <h2>Drag & Drop Your Files</h2>

    <p>
        Upload PDF, JPG, JPEG and PNG files
    </p>

    <button
        mat-raised-button
        color="primary"
        class="browse-btn">

        Browse Files

    </button>

    <div class="supported">

        Supported formats

        <span>

            PDF • JPG • JPEG • PNG

        </span>

    </div>

</div>